<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create administrator account</title>
    <link href="../static/css/registerformstyle.css" rel="stylesheet"
          th:href="@{/css/registerformstyle.css}" type="text/css"/>

</head>
<body>
<h1>Add new administrator:</h1>

<form  class="form" th:action="@{/addadmin}" th:object="${user}" method="post">
    <h1 class="form__header">Register form</h1>
    <div class="form__content">
        <div class="form__field">
            <input class="form__field__input" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   placeholder=" " required
                   th:field="*{email}" type="email">
            <label>Email</label>
            <label class="form__field__label" for="email"></label>
            <p class="form__field__error">Is your Email correct?</p>
            <div class="form__field__state-icon"></div>
        </div>
        <div class="form__field">
            <input class="form__field__input" id="password" pattern="[a-zA-Z0-9]{5,}" placeholder=" " required
                   th:field="*{password}" type="password">
            <label>Password</label>
            <label class="form__field__label" for="password"></label>
            <p class="form__field__error">Is your password correct?</p>
            <div class="form__field__state-icon"></div>
        </div>
        <div class="form__field">
            <input class="form__field__input" id="name" pattern="[a-zA-Z]{1,}" placeholder=" " required
                   th:field="*{userProfileDto.name}" type="text">
            <label>Name</label>
            <label class="form__field__label" for="name"></label>
            <p class="form__field__error">Is your name correct?</p>
            <div class="form__field__state-icon"></div>
        </div>
        <div class="form__field">
            <input class="form__field__input" id="surname" pattern="[a-zA-Z]{1,}" placeholder=" " required
                   th:field="*{userProfileDto.surname}" type="text">
            <label>Surname</label>
            <label class="form__field__label" for="surname"></label>
            <p class="form__field__error">Is your surname correct?</p>
            <div class="form__field__state-icon"></div>
        </div>
        <div class="form__field">
            <input class="form__field__input" id="info" pattern="[a-zA-Z]{10,}" placeholder=" " required
                   th:field="*{userProfileDto.about}" type="text">
            <label>About</label>
            <label class="form__field__label" for="info"></label>
            <p class="form__field__error">Write something about yourself more</p>
            <div class="form__field__state-icon"></div>
        </div>
        <div class="form__field">
            <input class="form__field__input" id="gender" pattern="[a-zA-Z]{1,}" placeholder=" " required
                   th:field="*{userProfileDto.gender}" type="text">
            <label>Gender</label>
            <label class="form__field__label" for="gender"></label>
            <p class="form__field__error">Choose your gender</p>
            <div class="form__field__state-icon"></div>
        </div>
        <div class="form__field">
            <input class="form__field__input" id="location" pattern="[a-zA-Z]{1,}" placeholder=" " required
                   th:field="*{userProfileDto.location}" type="text">
            <label>Location</label>
            <label class="form__field__label" for="location"></label>
            <p class="form__field__error">Is your location correct?</p>
            <div class="form__field__state-icon"></div>
        </div>
        <div class="form__button">
            <button class="button" type="submit">Submit</button>
        </div>
    </div>
</form>
</body>
</html>