<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Almost Good Social Network</title>

    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">


    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/togglehideshow.js"></script>

</head>
<body>
<div class="row">
    <div id="left">
        <div class="row justify-content-md-center">
            <div class="col">
                <!--/*@thymesVar id="newprofilepicture" type="com.rt.socialNetworkProject.model.dto.ProfilePictureDto"*/-->
                <div class="overlay">
                    <div id="profileshortcut" th:object="${newprofilepicture}">
                        <div id="blankimage">
                        <span th:if="${newprofilepicture != null}">
                                <img class="profilepicture"
                                     th:src="@{'data:image/*;base64,'+${newprofilepicture.data}}">
                        </span>
                            <span th:if="${profilepicture!=null}">
                                <img class="profilepicture"
                                     th:src="@{'data:profile_picture/*;base64,'+${profilepicture.data}}">
                            </span>
                        </div>
                        <div class="userfullname"
                             th:text="${user.userProfile.getName()} +' '+${user.userProfile.getSurname()}"></div>
                    </div>
                    <a class="link" href="#"><p>Check your profile</p></a>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <form action="/adminpanel">
                        <button class="button" type="submit">Administrator panel</button>
                    </form>
                </div>
                <div>
                    <form action="/gallery">
                        <button class="button" type="submit">Show gallery</button>
                    </form>
                </div>
                <div>
                    <form action="/logout">
                        <button class="button" type="submit">Log out</button>
                    </form>
                </div>
                <div class="justify-content-end social_icon">
                        <span><a href="https://www.gitlab.com/robertt2a" target="_blank"><i
                                class="fab fa-gitlab"></i></a></span>
                    <span><a href="https://www.linkedin.com/in/robert-tabis/" target="_blank"><i
                            class="fab fa-linkedin"></i></a></span>
                </div>
            </div>
        </div>
    </div>
    <div id="middle">
        <div class="container-fluid">
            <form th:action="@{/addnewpost}" th:object="${newpost}" method="post">
                <p>Content: <input type="text" th:field="*{content}" placeholder="Write post"/></p>

                <p><input type="submit" value="Add post"/>
                    <input type="reset" value="Reset"/></p>
            </form>
        </div>
        <div th:each=" post : ${allPosts}">
            <div class="userbanner">
                <img class="userprofilepicture"
                     th:src="@{'data:image/*;base64,'+${allprofilepictures.get(post.userProfID).data}}">
                <div class="signature">
                    <div class="userfullname" th:text="${post.authorName} +' '+${post.authorSurname}"></div>
                    <div class="elementupdatedate" th:text="${post.updateDate}"></div>
                </div>
            </div>
            <div class="post">
                <p class="elementcontent" th:id="elementcontent+${post.postId}" th:text="${post.content}"></p>
                <form class="editform" th:id="editform+${post.postId}" th:action="@{/editpost}" th:method="post">
                    <input type="hidden" name="id" th:value="${post.postId}">
                    <textarea type="text" th:text="${post.content}" name="newcontent"></textarea>
                    <button type="submit"><p>Publish</p></button>
                </form>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{/delete}" th:method="post">
                        <input type="hidden" name="id" th:value="${post.postId}">
                        <button class="button" type="submit"><p>Delete post</p></button>
                    </form>
                    <button class="button" th:onclick="'showEditForm(\''+${post.postId}+'\');'"><p>Edit post</p>
                    </button>

                    <div style="clear: both"></div>
                </div>
                <div th:if="${user.userProfile.id==post.userProfID}" sec:authorize="hasRole('ROLE_USER')">
                    <form th:action="@{/delete}" th:method="post">
                        <input name="id" th:value="${post.postId}" type="hidden">
                        <button class="button" type="submit"><p>Delete post</p></button>
                    </form>

                    <button class="button" th:onclick="'showEditForm(\''+${post.postId}+'\');'"><p>Edit post</p>
                    </button>

                    <div style="clear: both"></div>
                </div>
                <div class="container-fluid mt-1 comment" style="color: #f0ffff; border:1px solid #cecece;">
                    <form class="addcommentform" method="post" th:action="@{/addnewcomment}" th:object="${comment}">
                        <textarea placeholder="Write a comment" th:field="*{text}" type="text"></textarea>
                        <input name="postidnumber" th:value="${post.postId}" type="hidden"/>
                        <button type="submit">Comment</button>

                    </form>
                </div>
                <div th:each="comment : ${allcoments}">
                        <span th:if="${post.postId==comment.post.id}">
                            <div class="container-fluid mt-1 post">
                                <div class="userbanner">
                                    <img class="userprofilepicture"
                                         th:src="@{'data:image/*;base64,'+${allprofilepictures.get(comment.userProfile.id).data}}">
                                    <div class="signature">
                                        <div th:text="${comment.authorName} +' '+${comment.authorSurname}"></div>
                                        <div class="elementupdatedate" th:text="${comment.getUpdateDate()}"></div>
                                    </div>
                                </div>
                                <p class="elementcontent" th:id="commentcontent+${comment.id}"
                                   th:text="${comment.text}"></p>
                                <form class="editform" th:id="commenteditform+${comment.id}" th:action="@{/editcomment}"
                                      th:method="post">
                                        <input type="hidden" name="commentid" th:value="${comment.id}">
                                        <textarea type="text" th:text="${comment.text}"
                                                  name="commentnewcontent"></textarea>
                                        <button type="submit">Publish</button>
                                </form>
                                <div sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{/deletecomment}" th:method="post">
                                        <input type="hidden" name="commentid" th:value="${comment.getId()}">
                                        <button class="button" type="submit"><p>Delete comment</p></button>
                                    </form>
                                    <button class="button"
                                            th:onclick="'showCommentEditForm(\''+${comment.id}+'\');'"><p>Edit comment</p></button>

                                    <div style="clear: both"></div>
                                </div>
                                <div type="float-left" th:if="${user.userProfile.id==comment.userProfile.id}"
                                     sec:authorize="hasRole('ROLE_USER')">
                                    <form th:action="@{/deletecomment}" th:method="post">
                                        <input name="commentid" th:value="${comment.getId()}" type="hidden">
                                        <button class="button" type="submit"><p>Delete comment</p></button>
                                    </form>
                                    <button class="button"
                                            th:onclick="'showCommentEditForm(\''+${comment.id}+'\');'"><p>Edit comment</p></button>

                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>