<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link href="../static/css/registerformstyle.css" rel="stylesheet"
          th:href="@{/css/style.css}" type="text/css"/>
    <!--Bootsrap 4 CDN-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">

    <!--Fontawesome CDN-->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">
</head>
<body class="align-text-top">

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><a href="https://www.gitlab.com/robertt2a" target="_blank"><i class="fab fa-gitlab"></i></a></span>
                    <span><a href="https://www.linkedin.com/in/robert-tabis/" target="_blank"><i class="fab fa-linkedin"></a></i></span>
                </div>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/login-process}">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control" id="inputemail" name="username" placeholder="Podaj email"
                               th:required="required" type="text"/>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control" id="inputpassword" name="password" placeholder="password"
                               th:required="required" type="password">
                    </div>
                    <div class="form-group">
                        <input class="btn float-right login_btn" type="submit" value="Login">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="adduser.html">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
