<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add image</title>
    <link href="../static/css/registerformstyle.css" rel="stylesheet"
          th:href="@{/css/style.css}" type="text/css"/>

</head>
<body class="upload">
<div id="uploadimgcontainer">
    <form th:action="@{/uploadfile}" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="file" class="file-input" required/>
        <button type="submit" class="button" onclick="window.location.replace('gallery') ">Upload</button>
    </form>
</div>
</body>
</html>